{% block cars %}
    <table border="1px solid red">
    <th colspan="9"><h1>Cars</h1></th>
    <tr>
        <td><b>Reg Number</b></td>
        <td><b>Make</b></td>
        <td><b>Color</b></td>
        <td><b>Year</b></td>
        <td><b>Price</b></td>
        <td><b>Checkout time</b></td>
        <td><b>Checkin time</b></td>
        <td colspan="2"></td>
    </tr>
    {% for car in cars %}
    <tr>
        <td>{{car.regNr}}</td>
        <td>{{car.make}}</td>
        <td>{{car.color}}</td>
        <td>{{car.year}}</td>
        <td>{{car.price}}</td>
        <td>{{car.checkedOut}}</td>
        <td>{{car.checkedIn}}</td>
        <td>
            <form action="/editCar/{{car.regNr}}/{{car.make}}/{{car.color}}/{{car.year}}/{{car.price}}" method="POST">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form action="/removeCar/{{car.regNr}}/{{car.make}}" method="POST" onsubmit="return confirm('Are you sure you want to remove {{car.make}} with regNr: {{car.regNr}}?')">
                <input type="submit" value="Remove">
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <form action="/addCar" method="POST">
                <input type="submit" value="Add Car">
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="/" method="POST">
                <input type="submit" value="Main Menu">
            </form>
        </td>
    </tr>
</table>
{% endblock %}