{% block customers %}
<table border="1px solid red">
    <th colspan="7"><h1>Customers</h1></th>
    <tr>
        <td><b>Personal Number</b></td>
        <td><b>Name</b></td>
        <td><b>Adress</b></td>
        <td><b>Postal Adress</b></td>
        <td><b>Phonenumber</b></td>
        <td colspan="2"></td>
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{customer.ssNr}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.adress}}</td>
        <td>{{customer.postalAdress}}</td>
        <td>{{customer.phonenumber}}</td>
        <td>
            <form action="/editCustomer/{{customer.ssNr}}/{{customer.name}}/{{customer.adress}}/{{customer.postalAdress}}/{{customer.phonenumber}}" method="POST">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form action="/removeCustomer/{{customer.ssNr}}/{{customer.name}}" method="POST" onsubmit="return confirm('Are you sure you want to remove customer {{customer.ame}}?')">
                <input type="submit" value="Remove">
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr colspan="7">
        <td>
            <form action="/addCustomer" method="POST">
                <input type="submit" value="Add Customer">
            </form>
        </td>
    </tr>
    <tr colspan="7">
        <td>
            <form action="/" method="POST">
                <input type="submit" value="Main Menu">
            </form>
        </td>
    </tr>
</table>
{% endblock %}