{% block editCustomer %}
<table border="1">
    <th colspan="2">Edit Customer</th>
    <form action="/customerEdited" method="POST" onsubmit="return checkSubmit();">
        <tr>
            <td>
                <label for="ssNr">Personal Nr:</label>
            </td>
            <td>
                <input type="text" name="ssNr" placeholder="ssNr..." required readonly value="{{ssNr}}" style="background-color: grey; width: 100%; height: 100%;">
            </td>
        </tr>
        <tr>
            <td>
                <label for="name">Name:</label>
            </td>
            <td>
                <input type="text" name="name" placeholder="Name..." value="{{name}}">
            </td>
        </tr>
        <tr>
            <td>
                <label for="address">Adress:</label>
            </td>
            <td>
                <input type="text" name="adress" placeholder="Adress..." value="{{adress}}">
            </td>
            </td>
        </tr>
        <tr>
            <td>
                <label  for="postalAdress">Postal Adress:</label >
            </td>
            <td>
                <input type="text" name="postalAdress" required placeholder="Postal adress..." value="{{postalAdress}}">
            </td>
        </tr>
        <tr>
            <td>
                <label  for="phonennumber">Phonenumber:</label >
            </td>
            <td>
                <input type="text" name="phonenumber" id="phoneNumber" required placeholder="Phonenumber..." value="{{phonenumber}}">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit" style="width: 100%;">
            </td>
        </tr>
    </form>
        <tr>
            <td colspan="2">
                <form action="/customers" method="POST">
                    <input type="submit" value="Customers" style="width: 100%;">
                </form>
            </td>
        </tr>
</table>
<h1 id="warning" style="display: none; font-size: 15px;"></h1>
<footer>
    <script>
        let phoneNumberInput = document.getElementById("phoneNumber");
        phoneNumberInput.addEventListener('change', getPhoneNumber);
        let warningMessage = document.getElementById("warning");

        let phoneNumber = 0;
        let phoneOk = true;

        function getPhoneNumber() {
            phoneNumber = this.value;
        }

        function validatePhone() {
            if (!phoneNumber.match(/^([0])([0-9]{9})$/)) {
                phoneOk = false;
                warningMessage.innerHTML = "Seems like this is not a valid phonenumber. Please try again.";
            } else {
                phoneOk = true;
            }
            return phoneOk;
        }

        function checkSubmit() {
            validatePhone();
            if (phoneOk == true) {
                return true;
            } else {
                warningMessage.style.display = "block";
                return false;
            }
        }
    </script>
</footer>
{% endblock %}