{% block history %}
<table border="1" style="width: 80%;">
    <th colspan="6"><h1>History</h1></th>
    <tr>
        <td><b>Reg number:</b></td>
        <td><b>Personal number:</b></td>
        <td><b>Checkout Time:</b></td>
        <td><b>Checkin Time:</b></td>
        <td><b>Days:</b></td>
        <td><b>Total price:</b></td>
    </tr>
    {% for histor in history %}
    <tr>
        <td>{{histor.regNr}}</td>
        <td>{{histor.ssNr}}</td>
        <td>{{histor.checkOut}}</td>
        <td>{{histor.checkIn}}</td>
        <td>{{histor.days}}</td>
        <td id="cost">{{histor.cost}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5"><b>Sum:</b></td>
        <td colspan="1"><b id="sum"></b></td>
    </tr>
    <tr>
        <td colspan="6">
            <form action="/" method="post">
                <input type="submit" value="Main Menu" style="width: 100%;">
            </form>
        </td>
    </tr>
</table>
<footer>
    <script>
        let costData = document.querySelectorAll('#cost');
        let sumInput = document.getElementById("sum");
        let eachCost = [];
        let sum = 0;
        
        function totalCost() {

            for (let i = 0; i < costData.length; i++) {
                eachCost[i] = parseInt(costData[i].textContent, 10);
            }

            sum = eachCost.reduce((total, currentValue) => {
                return total + currentValue;
            });
        }

        totalCost();

        sumInput.innerText = sum;

      
    </script>
</footer>
{% endblock %}