{% block history %}
<table border="1">
    <th colspan="6"><h1>History</h1></th>
    {% for histor in history %}
    <tr>
        <td>{{histor.regNr}}</td>
        <td>{{histor.ssNr}}</td>
        <td>{{histor.checkOut}}</td>
        <td>{{histor.checkIn}}</td>
        <td>0</td>
        <td>0</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5">Sum:</td>
        <td colspan="1">{{sum}}</td>
    </tr>
    <tr>
        <td colspan="6">
            <form action="/" method="post">
                <input type="submit" value="Main Menu" style="width: 100%;">
            </form>
        </td>
    </tr>
</table>
{% endblock %}