{% block history %}
<table border="1" style="width: 80%;">
    <th colspan="6"><h1>History</h1></th>
    <tr>
        <td><b>Reg number:</b></td>
        <td><b>Personal number:</b></td>
        <td><b>Checkout Time:</b></td>
        <td><b>Checkin Time:</b></td>
        <td><b>Days:</b></td>
        <td><b>Total price:</b></td>
    </tr>
    {% for histor in history %}
    <tr>
        {% if histor.regNr == "Removed"%}
          <td>Removed</td>
        {% else %}
          <td>{{histor.regNr}}</td>
        {% endif %}
        {% if histor.ssNr == 0 %}
          <td>Removed</td>
        {% else %}
          <td>{{histor.ssNr}}</td>
        {% endif %}
        <td>{{histor.checkOut}}</td>
        <td>{{histor.checkIn}}</td>
        <td>{{histor.days}}</td>
        <td id="cost">{{histor.cost}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5"><b>Sum:</b></td>
        <td colspan="1"><b id="sum"></b></td>
    </tr>
    <tr>
        <td colspan="6">
            <form action="/" method="post">
                <input type="submit" value="Main Menu" style="width: 100%;">
            </form>
        </td>
    </tr>
</table>
<footer>
    <script>
        // Code below is for calculating sum of all rented cars.

        // Defines where all the costdata is(total price for every rented car).
        let costData = document.querySelectorAll('#cost');
        // Defines where the sum should be inputed.
        let sumInput = document.getElementById("sum");
        let eachCost = [];
        let sum = 0;
        
        // Function for adding the cost to eachother for the sum.
        function totalCost() {
            // Loops through each cost and reformats them into floats.
            for (let i = 0; i < costData.length; i++) {
                eachCost[i] = parseFloat(costData[i].textContent, 10);
            }
            // Adds all values in eachCost array together to get the sum.
            sum = eachCost.reduce((total, currentValue) => {
                return total + currentValue;
            });
        }

        // Runs function as soon as page is loaded.
        totalCost();

        // Changes the value of the sum column to the sum calculated above as soon as page is loaded.
        sumInput.innerText = sum;

      
    </script>
</footer>
{% endblock %}