{% block editCar %}
<table border="1">
    <th colspan="1">Add Car</th>
    <form action="/carAdded" method="POST">
        <tr>
            <td>
                <label for="regNr">Reg Number:</label>
                <input type="text" name="regNr" placeholder="RegNr..." required readonly>
            </td>
        </tr>
        <tr>
            <td>
                <label for="make">Make:</label>
                <select name="make" required>
                {# Current make as placeholder#}
                % {{ for }} %
                  <option value="make">{{makes}}</option>
                % {{ endfor }} %
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="color">Color:</label>
                <select name="color" required>
                {# Current color as placeholder#}
                % {{ for }} %
                 <option value="color">{{colors}}</option>
                % {{ endfor }} %
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label  for="year">Year:</label >
                <input type="number" name="year" required placeholder="Year..." min="1900" max="2020">
            </td>
        </tr>
        <tr>
            <td>
                <label  for="price">Price:</label >
                <input type="text" name="price" required placeholder="Price...">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
    </form>
</table>
<form action="/cars" method="POST">
    <input type="submit" value="Cars">
</form>
{% endblock %}